/* SETUP */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: Coolvetica;
    src: url(graphics/coolvetica\ rg.otf);
}

@font-face {
    font-family: Episode;
    src: url(graphics/OPTIMA.TTF);
}



html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

.border {
    border: 2px solid;
    border-color: #980000;
}

body {
    background: #264E1B;
}

.hiddenL {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

.hiddenR {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}

.hidden {
    opacity: 0;
    filter: blur(2px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}



@media(prefers-reduce-motion) {
    .hidden {
        transition: none;
    }
}

/* width */
/* ::-webkit-scrollbar {
    width: 0;
  } */
  
/* NAVBAR */
.navbarcolor {
    background-color: #264E1B;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 50;
    transition: 0.4s all ease-in;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

nav i {
    margin-left: 30px;
}

nav a {
    text-align: right;
    text-decoration: none;
    font-size: 1.5em;
    transition: all 0.2s ease;
    margin-right: 15px;
}

nav .socials {
    margin: 0;
}

nav .head {
    width: 33%;
}

nav .links {
    flex: 1;
    text-align: right;
    z-index: 200;
    width: 33%;
}




/* HERO */
.hero {
    display: grid;
    height: 700px;
    place-items: center;
    align-content: center;
    position: sticky;
    z-index: 50;
}

.hero h1 {
    font-size: 7em;
    color: #D3E923;
    transition: all 0.5s ease;
    margin-top: 10px;
    font-weight: 1000;
    transition: 0.4s all ease-in;

}

@keyframes scaleOut {
    100% {font-size: 2em;}
}

.balh {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invisible {
    opacity: 0;
}

.arr {
    transition: all 1s;
}

.whoami {
    text-align: center;
}

.whoami h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
    color: #D3E923;
}

/* BUSINESS */
#business {
    height: 3700px;
    background-color: #780116;
    display: flexbox;
    text-align: center;
    font-family: Coolvetica;
    color: #E8C0E8;
    font-weight: 1;
}

#business h2 {
    font-size: 6em;
    margin-bottom: 100px;
}

#business .wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    padding-bottom: 150px;
    gap: 100px;
}

#business .wrapper .images {
    display: grid;
    place-items: center;
}


#business .wrapper .names .des {
    top: 40%;
    margin-bottom: 50%;
    margin-top: 130%;
    position: sticky;
    text-align: left;
}


#business .wrapper .names .des h3{
    font-size: 6em;
    color: white;

}

#business .wrapper .names .des h4 {
    font-size: 2em;
    color: #E8C0E8;

    margin-bottom: 10px;
}

#business .wrapper .names .des p {
    font-size: 1.5em;
}

.notactive {
    color: #D6A337;
}

.active {
    color: #1A8CD5;
}

/* CREATIVE */
#creative {
    height: 2550px;
    background-color: #E9C0E9;
    font-family: Episode;
    padding-top: 250px;
    position: relative;
}
@keyframes parallax {
    to {
        transform: translateY(calc(var(--parallax-speed) * 200px));
    }
}

.imagescreative {
    display: grid;
    grid-template-areas: "stack";
}
.imagescreative > *{
    animation: parallax linear;
    animation-timeline: scroll();
    grid-area: stack;
}

#creative .headline {
    text-align: center;
    color: #502374;
}

#creative .headline h2 {
    font-size: 10em;
    font-weight: 1000;
}

#creative .headline h3 {
    font-size: 8em;
    font-weight: 600;
}

#creative .headline h4 {
    font-size: 8em;
    font-weight: 500;
}

#creative .headline h5 {
    font-size: 3em;
    font-weight: 800;
    color: rgb(232, 255, 57);
}

.lenda1 {
    position: absolute;
    top: -550px;
    left: 30px;
    --parallax-speed: 4;
}

.racek {
    position: absolute;
    top: -300px;
    left: 1200px;
    --parallax-speed: 2;

}

.cow {
    position: absolute;
    top: -30px;
    left: 500px;
}

.greatalps {
    position: absolute;
    top: 50px;
    left: 1500px;
    --parallax-speed: 3;

}

.cip {
    position: absolute;
    top: 520px;
    left: -30px;
}

.mikes {
    position: absolute;
    top: 230px;
    left: 100px;
    --parallax-speed: 4;
}

.lenda2 {
    position: absolute;
    top: 1000px;
    left: 1300px;
}

.lenda3 {
    position: absolute;
    top: 780px;
    left: 1000px;
    --parallax-speed: 5;

}

.misa2 {
    position: absolute;
    top: 1900px;
    left: 20px;
}

.ttresults {
    position: absolute;
    top: 2220px;
    left: 300px;
}
.ytbresults {
    position: absolute;
    top: 1000px;
    left: 250px;
    --parallax-speed: 4;
}
.lenda4 {
    position: absolute;
    top: 1800px;
    left: 700px;
    --parallax-speed: 2;

}



#codign {
    height: 1000px;
    background-color: greenyellow;
}